<div class="main-visual">
  <img src="/img/map.jpg">
</div>
<div class="title-intro" style="border-radius:0">
  <div class="container">
    <div class="row">
      <div class="offset2 span8">
          <h2 class="title"><%= episode.title %></h2>
          <%- linkTo('Edit this episode', editEpisodePath(params.id), {class: 'btn pull-right'}); %>
          <%- linkTo('Back to list', episodePath(''), {class: 'btn pull-right'}); %>
      </div>
    </div>
  </div>
</div>
<!--
<%- episode.story %>
-->
<div class="grayline"></div>
<div class="game bg2">
</div>
<div class="blackline"></div>
<div class="small-empty-space"></div>
<!-- 
<h2>Episode Properties</h2>
<% for(var i in episode) { -%>
<% if(i !== 'saved') { -%>
<div class="row list-item">
  <div class="span4">
    <h3><%- i %></h3>
  </div>
  <div class="span8">
    <h3><i class="icon-list-alt"></i><span class="<%- i %>"><%- episode[i] %></span></h3>
  </div>
</div>
<% } -%><% } -%>
-->

<script>
  $(document).ready(function(){
    $.ajax({
      url:'/startBattle/111',
    }).done(function(data) {
      $('.game').html(data);
    });
  });
</script>
