<%- scriptLink('/js/create_users.js', {type:'text/javascript'}) %>
<div class="control-group">
  <label for="username" class="control-label">Account Name</label>
  <div class="controls">
    <%- contentTag('input','', {type:'text',id:'username', class:'span6', name:'username', pattern:".{4,}", required:true, title:"3+ characters"}) %>
  </div>
</div>

<div class="control-group">
  <label for="username" class="control-label">Nick Name</label>
  <div class="controls">
    <%- contentTag('input','', {type:'text',id:'givenName', class:'span6', name:'givenName', pattern:".{4,}", required:true, title:"3+ characters"}) %>
  </div>
</div>

<div class="control-group">
  <label for="password" class="control-label">Your Password</label>
  <div class="controls">
    <%- contentTag('input', '', {type:'password',id:'pass', class:'span6', name:'password', required:true, pattern:".{8,}", title:"8+ characters"}) %>
  </div>
</div>
<div class="control-group">
  <label for="confirmPpassword"  class="control-label">Confirm Your Password</label>
  <div class="controls">
    <%- contentTag('input', '', {type:'password',id:'confPass', class:'span6', name:'confirmPassword', required:true, pattern:".{8,}", title:"8+ characters"}) %>
  </div>
</div>
<div class="control-group">
  <label for="email" class="control-label">Your Email</label>
  <div class="controls">
    <%- contentTag('input', '', {type:'email', class:'span6', name:'email', required:true}) %>
  </div>
</div>
