<div class="hero-unit">
<h2 class="title"><%= book.title %></h2>
  <%- linkTo('Edit this book', editBookPath(params.id), {class: 'btn pull-right'}); %>
  <%- linkTo('Back to list', bookPath(''), {class: 'btn pull-right'}); %>
</div>
<a href='/episodes/add?bookId=<%=book.id%>' class='offset4 btn btn-info'>
	Add Episodes
</a>

<%=JSON.stringify(episodes)%>
