<script type="text/javascript">
	var unusedPoints = parseInt(<%= hero.unusedPoints%>);
</script>
<%- scriptLink('hero_form.js',{type:'text/javascript'})%>

<div class="row">
	<div class='alert alert-success span3'>
				You have <strong id='unusedPoints'> <%= hero.unusedPoints%> </strong> Skill Points
	</div>
</div>

<div> 
	<div class='row' style='margin-top:15px'>
		<div> 
			<label class='span2'>
				Hero's Name
			</label>
			<%-contentTag('input',hero.name, {type:'text',class:'span3',name:'name', required:true})%>
		</div>
	</div>

	<!-- if hero else -->
	<div class='row' style='margin-top:15px'>
		<div> 
			<label class='span2'>
				Hero's Gender
			</label>
			<select name='gender'>
				<option value='male'> Male </option>
				<option value='female'> Female </option>
			</select>
		</div>
	</div>
	<!-- if hero else -->
	<div class='row' style='margin-top:15px'>
		<div> 
			<label  class='span2'>
				Hero's Race
			</label>
			<select name='race'>
				<option value='human'> Human </option>
				<option value='elf'> Elf </option>
				<option value='orc'> Orc </option>
			</select>
		</div>
	</div>

	<div class='row' style='margin-top:15px'>
		<div> 
			<label class='span2'>
				Hero's Power
			</label>
			<%-contentTag('input',hero.power || 5, {type:'number',min:hero.power, name:'power',class:'span1 skillPoints', required:true})%>
		</div>
	</div>

	<div class='row' style='margin-top:15px'>
		<div> 
			<label class='span2'>
				Hero's Stamina
			</label>
			<%-contentTag('input',hero.stamina || 5, {type:'number',min:hero.stamina, name:'stamina',class:'span1 skillPoints', required:true})%>
		</div>
	</div>

	<div class='row' style='margin-top:15px'>
		<div> 
			<label class='span2'>
				Hero's Speed
			</label>
			<%-contentTag('input',hero.speed || 5, {type:'number',min:hero.speed,name:'speed',class:'span1 skillPoints', required:true})%>
		</div>
	</div>

	<div class='row' style='margin-top:15px'>
		<div> 
			<label class='span2'>
				Hero's Armor
			</label>
			<%-contentTag('input',hero.armor || 5, {type:'number',name:'armor',min:hero.armor,class:'span1 skillPoints', required:true})%>
		</div>
	</div>
</div>