<script type="text/javascript">
	var unusedPoints = parseInt(<%= hero.unusedPoints%>);
</script>
<%- scriptLink('hero_form.js',{type:'text/javascript'})%>

<div class="row">
	<div class='alert alert-success span3'>
				You have <strong id='unusedPoints'> <%= hero.unusedPoints%> </strong> Skill Points
	</div>
</div>

<div> 
	<div class='row' style='margin-top:15px'>
			<div class="span4 hero">
                <div class="span2">
                  <img id='heroImage' src="<%=hero.image%>">
                </div>

				<div class='pull-right span2'>
	                <h6>
						Hero's Name
					</h6 >
					
						<%-contentTag('input',hero.name, {type:'text',class:'span2',name:'name', required:true})%>
					
				</div>

				<div class='pull-right span2'>
					
						
					<select name='gender' id='gender' class='span2' required='required' >
						<option value='Male'<%= (hero.gender == 'Male' ? 'selected' : '')%> > Male </option>
						<option value='Female' <%= (hero.gender == 'Female' ? 'selected' : '')%>> Female </option>
					</select>
				</div>

				<div class='pull-right span2'>
					<select name='race' id='race' class='span2' required='required'>
						<option value='Human' <%= (hero.race == 'Human' ? 'selected' : '')%>> Human </option>
						<option value='Elf' <%= (hero.race == 'Elf' ? 'selected' : '')%>> Elf </option>
						<option value='Orc' <%= (hero.race == 'Orc' ? 'selected' : '')%>> Orc </option>
					</select>
				</div>

                <div class='pull-right span2'>
                  	<%if(typeof isAdd != 'undefined' && isAdd) {%>

	                	<%-contentTag('input',"Change Image",{type:'button',class:'btn btn-primary span2', id:'anotherImg'})%>
	                <% } %>
	                	<%-contentTag('input',hero.image, {type:'hidden',class:'span2',name:'image',id:'imageHidden', required:true})%>
	                	<script type="text/javascript">
			            	(function(){
			            		var lastIndex = -1; 
			            		function changeImage(){
			            			var possibleClasses = ['Mage','Rouge', 'Warrior', 'Hinter'];
			            			var gender = $('#gender').val(),
			            				race = $('#race').val();

			            			var classIndex = -1;
			            			while(classIndex < 0 || classIndex == lastIndex){
			            				classIndex = Math.floor(Math.random()*possibleClasses.length);
			            			}
			            			
			            			var src = '/heroes_images/' + race + gender + possibleClasses[classIndex] + '.jpg';

			            			$('#heroImage').attr('src',src);
			            			$('#imageHidden').val(src);
			            			lastIndex = classIndex;
			            			
			            		}

			            		if(!$('#heroImage').attr('src')){
			            			changeImage();
			            		}
			            		
			            		$('#anotherImg').click(function(){
			            			changeImage();
			            		});
			            		$('#gender, #race').change(function(){
			            			changeImage();
			            		})
			            	})();
	                	</script>
                	

                </div>
            </div>
		</div>
	


	<div class='row' style='margin-top:15px'>
		<div> 
			<label class='span2'>
				Hero's Power
			</label>
			<%-contentTag('input',hero.power || 5, {type:'number',min:hero.power, name:'power',class:'span1 skillPoints', required:true})%>
		</div>
	</div>

	<div class='row' style='margin-top:15px'>
		<div> 
			<label class='span2'>
				Hero's Stamina
			</label>
			<%-contentTag('input',hero.stamina || 5, {type:'number',min:hero.stamina, name:'stamina',class:'span1 skillPoints', required:true})%>
		</div>
	</div>

	<div class='row' style='margin-top:15px'>
		<div> 
			<label class='span2'>
				Hero's Speed
			</label>
			<%-contentTag('input',hero.speed || 5, {type:'number',min:hero.speed,name:'speed',class:'span1 skillPoints', required:true})%>
		</div>
	</div>

	<div class='row' style='margin-top:15px'>
		<div> 
			<label class='span2'>
				Hero's Armor
			</label>
			<%-contentTag('input',hero.armor || 5, {type:'number',name:'armor',min:hero.armor,class:'span1 skillPoints', required:true})%>
		</div>
	</div>
	
</div>