<%- scriptLink('heros_index.js',{type:'text/javascript'})%>
<div class="main-visual">
  <img src="/img/battle1.jpg">
</div>
<div class="title-intro">
  <div class="container">
    <div class="row">
      <div class="offset2 span8">
        <h2><%=session.get('user').givenName%>'s Heroes</h2>
      </div>
    </div>
  </div>
</div>
<div class="small-empty-space"></div>
<div class="bg1">
  <div class="small-empty-space"></div>
  <div class="container">
    <div class="row">
      <div class="offset2 span8">
        <% if (heros) { %>
            <% for (var i = 0, ii = heros.length; i < ii; i++) { %>
              <div class='span4 hero heroActions' id='<%=heros[i].id%>'>
                <div class='span2'>
                  <img src='<%=heros[i].image%>'/>
                </div>
                <div class='span2'>
                  <h4 class="offseted-content">
                    <%=heros[i].name%>
                  </h4>
                </div>
                <div class='span2'>
                  <span class="offseted-content">
                    <i>Gender:</i> <%=heros[i].gender%>
                  </span class="offseted-content">
                </div>
                <div class='span2'>
                  <span class="offseted-content">
                    <i>Level:</i> <%=heros[i].level%>
                  </span>
                </div>
              </div>
            <% } %>
        <% } %>
        <div class='span4 hero addHero'>
          <div class='span2'>
            <img src='/img/plus.png'/>
          </div>
          <div class='span2'>
            <h4 class="offseted-content">
              Add new hero
            </h4>
          </div>
          <div class='span2'>
            <span class="offseted-content">
              <i>Gender:</i> You decide
            </span class="offseted-content">
          </div>
          <div class='span2'>
            <span class="offseted-content">
              <i>Level:</i> 
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="small-empty-space"></div>
</div>

<div class="grayline">
</div>

<div class="small-empty-space">
  <div class="container">
  </div>
</div>

<div class="blackline">
</div>
