<%= partial('layout_header'); %>
  <body>
    
    <div class="blackline">
    </div>
    <header>
      <div class="container">
        <div class="row">
          <div class="offset0 span4">
            <img class="logo" src="/img/BookLogo.png">
          </div>
          <div class="span6">
            <nav>
              <% if(session && session.get('user')) { %>
                <div class="dropdown" style="display: inline;">
                <button class="btn btn-default dropdown-toggle btn-large" type="button" id="dropdownMenu1" data-toggle="dropdown">
                  <%= session.get('user').name %>
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu display: inline;" role="menu" aria-labelledby="dropdownMenu1">
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><%= session.get('user').name %></a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Logout</a></li>
                </ul>
              </div>
              <% } %>
              <a href="#" class="btn btn-default btn-large">Books</a>
              <a href="#" class="btn btn-default btn-large">Categories</a>
              <a href="#" class="btn btn-default btn-large">Friends</a>
            </nav>
          </div>
        </div>
      </div>
    </header>
    <div class="grayline">
    </div>

    <%- render(); %>
    <iframe src="about:blank" style="visibility:hidden"></iframe>
      <script type="text/javascript">
        function sayEverything(parts, index)
            {
                if(index >= parts.length) return;
                reader = window.frames[0].window.pageSay(parts[index]);
                $(reader).on("ended",function(){
                    sayEverything(parts, index + 1);
                });
            }
      var js = 'function pageSay(text)'+
            '{'+
        'reader = document.getElementById("reader");'+
                'reader.src = "http://translate.google.com/translate_tts?tl=en&q=" + encodeURI(text);'+
                'reader.play();'+
        'return reader;'+
            '}';

      setTimeout(function(){
        window.frames[0].document.body.innerHTML = "<video id='reader' src='http://translate.google.com/translate_tts?tl=en&q=Lorem%20ipsum%20dolor%20sit%20amet' controls></video>";
      },1000);
      setTimeout(function(){
        window.frames[0].window.eval(js);
      },2000);
     
      $(document).ready(function(){
                var videoPlaying = false;
                $("p").click(function(e){
                    var $this = $(this);
                   
                    var content = $this.text();
                    var readParts = content.split(/[.,!:?]+/);
                    var currentPart = 0;
                    sayEverything(readParts, currentPart);
                });
            });
    </script>
  </body>
<%= partial('layout_footer'); %>

