<%= partial('layout_header'); %>
  <body>
    <div class="blackline">
    </div>
    <header>
      <div class="container">
        <div class="row">
          <div class="offset0 span4">
            <img class="logo" src="/img/BookLogo.png">
          </div>
          <div class="span6">
            <nav>
              <% if(session && session.get('user')) { %>
                <div class="dropdown" style="display: inline;">
                <button class="btn btn-default dropdown-toggle btn-large" type="button" id="dropdownMenu1" data-toggle="dropdown">
                  <%= session.get('user').name %>
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu display: inline;" role="menu" aria-labelledby="dropdownMenu1">
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><%= session.get('user').name %></a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Logout</a></li>
                </ul>
              </div>
              <% } %>
              <a href="#" class="btn btn-default btn-large">Books</a>
              <a href="#" class="btn btn-default btn-large">Categories</a>
              <a href="#" class="btn btn-default btn-large">Friends</a>
            </nav>
          </div>
        </div>
      </div>
    </header>
    <div class="grayline">
    </div>

    <%- render(); %>
    
  </body>
<%= partial('layout_footer'); %>

