<aside>
	<% var hero = session.get('selectedHero');%>

	<div class='span2 hero' style='margin-top:15px;border:solid 2px' id='<%=hero.id%>'>
		<div class='span2'>
		  <img src='<%=hero.image%>' width='50px' height='50px'/>
		</div>
		<div class='span2'>
		  <strong>
		    <%=hero.name%>
		  </strong>
		</div>
		<div class='span2'>
		  Gender: <%=hero.gender%>
		</div>
		<div class='span2'>
		  Level: <%=hero.level%>
		</div>

		<div class='span2'>
		  <strong>
		    Stats:
		  </strong>
		</div>
		
	</div>
</aside>